[MASTER]
# Configuración de pylint para QuantumARK
init-hook='import sys; sys.path.append("/Users/brx/Documents/QuantumARK")'

[MESSAGES CONTROL]
disable=C0330,C0326,W0613,R0903,R0902,R0912,R0915

[REPORTS]
output-format=json
reports=yes
score=yes

[FORMAT]
max-line-length=88
indent-string='    '
