[flake8]
# QuantumARK v2.0 - Configuración de Flake8
max-line-length = 88
max-complexity = 10
extend-ignore = E203, E266, E501, W503, F403, F401
extend-exclude =
    Deprecated-QARKv.1,
    audits-v2.0,
    build,
    dist,
    .git,
    __pycache__,
    *.egg-info

per-file-ignores =
    __init__.py:F401
    setup.py:E501

docstring-convention = google
statistics = True
count = True
